.header {
    background: #070a1b;

    &__container {
        max-width: 1220px;
        padding: 0 10px;
        margin: 0 auto;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }

    &__content {
        background-image: url(../img/Main_MB.png);
        //вычитаем высоту шапки
        min-height: calc(100vh - 100px);
        background-repeat: no-repeat;
        background-position: center;
        //фиксируем всю картинку
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        ::before {
            content: "";
            background-image: url(../img/mb_logo.svg);
            width: 50px;
            height: 50px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -25px;
        }
    }
}
.logo {
    margin-left: 115px;
}
.list {
    display: flex;

    &__item + &__item {
        margin-left: 30px;
    }

    &__link {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        :hover {
            background-color: #c1a1d2;
            border-radius: 50%;
        }
    }

}

.title {
    font-family: "Corporate-A-Bold";
    margin-bottom: 5px;
    font-size: 72px;
    line-height: 120%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title-description {
    font-size: 24px;
    margin-bottom: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
